@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0, -64px, 0); /* ADDED - start y position as -50px */
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); /* ADDED - move y to 0 on hover */
  }
}

@media only screen and (max-width: 500px) {
  .card {
    padding: 0px 32px;
    .card-front {
      .title {
        font-size: 24px;
      }
      .des {
        font-size: 12px;
      }
      height: 80%;
    }
    .card-back {
      height: 90%;
    }
    .card-back-inner {
      padding: 0px 16px;
    }

    .contact {
      padding: 16px 20px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .card {
    padding: 0px 56px;
    .card-front {
      .title {
        font-size: 24px;
      }
      .des {
        font-size: 12px;
      }
      height: 80%;
    }
    .card-back {
      height: 80%;
    }
    .card-back-inner {
      padding: 0px 16px;
    }
    .title-back {
      font-size: 18px;
    }
    .des-back {
      font-size: 12px;
    }
    .solid {
      width: 100px;
    }
    .des-email {
      font-size: 8px;
    }

    .contact {
      font-size: 12px;
      padding: 16px 16px;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  padding: 128px 0px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;

  width: 100%;
  height: 100%;

  border-radius: 16px;
  background-color: transparent;
  perspective: 1000px;

  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(-180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 5px 5px 16px 0px #808080;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

  border-radius: 16px;
  opacity: 0.4;
  background: linear-gradient(135deg, #a3b8ff55 25%, transparent 25%) -29px 0/
      58px 58px,
    linear-gradient(225deg, #a3b8ff 25%, transparent 25%) -29px 0/ 58px 58px,
    linear-gradient(315deg, #a3b8ff55 25%, transparent 25%) 0px 0/ 58px 58px,
    linear-gradient(45deg, #a3b8ff 25%, #2641a8 25%) 0px 0/ 58px 58px;
}
.card-back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  border-radius: 16px;
  opacity: 0.7;
  transition: all 0.5s ease-in-out;

  background: linear-gradient(135deg, #f2f5ff 25%, transparent 25%) -29px 0/
      58px 58px,
    linear-gradient(225deg, #e3e9ff 25%, transparent 25%) -29px 0/ 58px 58px,
    linear-gradient(315deg, #f2f5ff 25%, transparent 25%) 0px 0/ 58px 58px,
    linear-gradient(45deg, #e3e9ff 25%, #ffffff 25%) 0px 0/ 58px 58px;
  transform: rotateY(180deg);
}

.card-back-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  transition: all 0.5s ease-in-out;

  padding: 0px 32px;
  height: 100%;
}

.card-back-inner-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 16px 32px;
  background: linear-gradient(100deg, #4054af 0%, #8b9add 100%);
  border-radius: 0px 32px 32px 0px;
  transition: all 0.5s ease-in-out;
}

.contact div {
  display: flex;
  align-items: center;
  padding: 4px;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
    text-shadow: 0 0 4px #ffffff;
  }
}

.contact img {
  margin-right: 8px;
}

.title {
  font-size: 36px;
  color: white;

  text-shadow: 1px 1px 1px gray;
}

.des {
  font-size: 16px;
  text-shadow: 1px 1px 1px gray;
  color: white;
}

.title-back {
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #4054af;
  transition: all 0.5s ease-in-out;
}

.des-back {
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 400;
  color: #4054af;
  transition: all 0.5s ease-in-out;
}

.solid {
  width: 115px;
  margin: 4px 0px;
  border-radius: 8px;
  border-top: 1px solid #4054af60;
  transition: all 0.5s ease-in-out;
}

.des-email {
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 400;
  color: #687bce;
  transition: all 0.5s ease-in-out;
  &:hover {
    color: #2641a8;
    text-decoration: underline;
  }
}
